* {
  /* Specifies the behavior of the 'width' and 'height' properties. */
  box-sizing: border-box;
}

html,
body {
  @apply text-theme-text;
  min-height: 100%;
  @apply bg-theme-bg-light;
  -webkit-user-drag: none;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
}
